/* Seleccionar elementos por etiqueta de html */
h1 {
    color: red;
}
/* Selector por ID */
/* Solo se puede ocupar una vez */
#yellow{
    color: yellow;
}
/* Selector por clase */
/* Se puede utilizar más de una vez */
.aqua{
     font-size: 100px;
     color: aqua;
}
.background-brown {
    background-color: brown;
}

.aqua{
    color: blue;
}

.block{
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 40px;
    border: 2px solid black;
}
.inline-block{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: auto;
    height: 40px;
    border: 2px solid black;
}
.inline{
    display: inline;
    padding: 100px;
    margin: 100px;
    width: 20000px;
    height: 40px;
    border: 2px solid black;
}